# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
#/.esphome/

# Secrets & sensible Daten
secrets.yaml
.storage/
auth
auth_provider.homeassistant

# Datenbanken & Logs
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
logs
*.log*

# Backups & temporäre Dateien
backups/
*.zip
*.tar.gz

# Interne HA-Dateien (nicht nötig im Repo)
.cloud/
deps/
tts/
www/cache/
www/icons
www/floorplans
www/community
custom_components/
.cache/
.ha*
.HA*

# Studio Code Server
.vscode/

# Python cache
__pycache__
*.pyc

# Other
*.db
tts
zigbee2mqtt/state.json
